<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Newsletter2Feed" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Newsletter2Feed">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <a href="/" class="logo">
      <%= inline_svg_tag "logo.svg", width: 60, height: 60 %><span>Newsletter2Feed</span>
    </a>

    <% if notice.present? %>
      <div class="flash notice" data-controller="flash">
        <%= notice %>
        <button type="button" data-action="click->flash#close" aria-label="Close">&times;</button>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="flash alert" data-controller="flash">
        <%= alert %>
        <button type="button" data-action="click->flash#close" aria-label="Close">&times;</button>
      </div>
    <% end %>

    <%= yield %>

    <footer>
      <p>Made by <a href="https://github.com/ukazap/newsletter2feed">@ukazap</a> and was inspired by <a href="https://kill-the-newsletter.com/"><em>Kill the Newsletter!</em></a></p>
    </footer>
  </body>
</html>
